.filter {
  display: flex;
  flex-direction: row;
  width: 167px;
  height: 48px;
  align-content: center;
  padding-top: 15px;
}

.filter__checkbox {
  opacity: 0;
  position: absolute;
}

.filter__label {
  position: relative;
  padding: 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  height: fit-content;
  width: fit-content;
}

.filter__label::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -50px;
  width: 36px;
  height: 20px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08);
}

.filter__label::after {
  content: "";
  position: absolute;
  top: 0;
  right: -49px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #2be080;
  transition: right 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.filter__checkbox:checked + .filter__label::after {
  right: -34px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 420px) {
  .filter {
    width: 148px;
  }

  .filter__label {
    font-size: 11px;
  }
}
