.promo {
  background-color: #465dff;
  padding: 0 70px 60px 70px;
}

.promo__block {
  display: flex;
  flex-direction: row;
  height: 74px;
  align-items: center;
  justify-content: space-between;
}

.promo__logo {
  max-width: 38px;
  max-height: 38px;
}

.promo__title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  color: #ffffff;
  max-width: 626px;
  max-height: 104px;
  margin: 0 0 101px 0;
  padding-top: 51px;
}

.promo__landing-logo {
  opacity: 0.7;
  max-width: 722px;
  max-height: 244px;
  display: block;
  margin: 0 0 0 auto;
}
