.footer {
  background-color: #fafafa;
  padding: 0 70px 20px 70px;
}

.footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  height: 36px;
  border-bottom: 1px solid #e8e8e8;
  margin: 30px 0 0 0; 
   padding-top: 75px;
}

.footer__container {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0 20px 0 0;
  text-decoration: none;
  color: #000;
  transition: opacity 0.6s ease;
}

.footer__link:hover {
  opacity: 0.8;
  transition: opacity 0.6s ease;
}

.footer__link:first-child {
  min-width: 48px;
  margin-right: 79.9%;
}
