.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0 70px 0;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 113px 0;
}

.profile__user-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 410px;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile__user-data:first-of-type {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 7px;
}

.profile__user-text {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  transition: opacity 0.5s ease;
}

.profile__button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.profile__button_margin-top_big {
  margin-top: 204px;
}

.profile__button_color_red {
  color: #ee3465;
}

@media screen and (max-width: 770px) {
  .profile__title {
    margin: 163px 0 86px 0;
  }

  .profile__button_margin-top_big {
    margin-top: 194px;
  }
}

@media screen and (max-width: 700px) {
  .profile__user-data {
    width: 70vw;
  }
}

@media screen and (max-width: 428px) {
  .profile {
    padding: 0 30px 24px 30px;
  }

  .profile__title {
    margin: 69px 0 70px 0;
  }

  .profile__button_margin-top_big {
    margin-top: 362px;
  }

  .profile__user-data {
    width: 260px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}
