.movies {
  padding: 70px;
}

.movies__container {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 20px;
  row-gap: 32px;
  margin: 9px auto 0 auto;
  max-width: 100%;
  justify-content: center;
}

.movies__more-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: calc(100vw - 140px);
  max-width: 1140px;
  background: #f9f9f9;
  border-radius: 6px;
  border: 0;
  height: 36px;
  margin: 80px 0 0 0;
  transition: opacity 0.6s ease;
}

.movies__more-button:hover {
cursor: pointer;
opacity: 0.7;
transition: opacity 0.6s ease;
}

@media screen and (max-width: 1220px) {
  .movies__container {
    grid-template-columns: repeat(3, 270px);
    row-gap: 24px;
  }
}

@media screen and (max-width: 930px) {
  .movies__container {
    grid-template-columns: repeat(2, 270px);
    row-gap: 16px;
  }
}
